body {
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.page{
    background: rgb(28, 28, 28);
    min-height: auto;
    width: 100%;
    color: #fff;
}

nav {
    display: flex;
    align-items: center;
    padding: 20;
}